@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

    /* Navbar styling*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 30px 0;
    background: #512b72;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #512b72;
}

.navbar.sticky .logo a span {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #512b72;

}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/*menu btn styling*/

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #8f5fb9;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 309x;
    border-radius: 6px;
    cursor: pointer;
}


/*Estilizando home section */

.inicio {
    display: flex;
    background: url("img/IMG_0837.PNG") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

.inicio .max-width {
    margin: auto 0 auto 40px;
}

.inicio .conteudo-inicio .texto-1 {
    font-size: 27px;
}


.inicio .conteudo-inicio .texto-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}


.inicio .conteudo-inicio .texto-3 {
    font-size: 40px;
    margin: 5px 0;
}

.inicio .conteudo-inicio .texto-3 span{
    color: #512b72;
    font-weight:500;
}
.inicio .conteudo-inicio a{
    display: inline-block;
    background: cornflowerblue; /*botão contrate me*/
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid cornflowerblue;
    transition: all 0.3s ease;
}

.inicio .conteudo-inicio a:hover {
    color:cornflowerblue;
    background: none;
}

/*all similar conteudo styling code - Section*/

section {
    padding: 100px 0;
}

.sobre, .servicos, .skills, .teams,
.contato,footer {
    font-family: 'Poppins', sans-serif;
}

.sobre .conteudo-sobre, .servicos .conteudo-servicos,
.skills .conteudo-skills,
.contato  .conteudo-contato {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #8f5fb9;
    padding: 5px;
    background: #fff;
    transform: translatex(-50%);
}

 /* Seção Sobre styling*/


.sobre .title::after{
    content: "Quem sou eu";
}


.sobre .conteudo-sobre .esquerda {  
    width: 45%;
}

.sobre .conteudo-sobre .esquerda img {
    height:400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.sobre .conteudo-sobre .direita {  
    width: 55%;
}

.sobre .conteudo-sobre .direita .texto {  
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sobre .conteudo-sobre .direita .texto  span {  
    color: #8f5fb9;
}

.sobre .conteudo-sobre .direita .p{  
    text-align: justify;
}

.sobre .conteudo-sobre .direita a{  
    display: inline-block;
    background: cornflowerblue; /*botão CV*/
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid cornflowerblue;
    transition: all 0.3s ease;
}

.sobre .conteudo-sobre .direita a:hover {
    color: cornflowerblue;
    background: none;

}

/* servico section styling */

    .servicos, .teams {
        color: #fff;
        background: #111;
    }

    .teams .title::before {
        background: #fff;
    }
    .servicos .title::before {
        background: #fff;
    }
    .servicos .tittle::after
    .teams .tittle::after {
        background: #111;
        content: "Serviços Fornecidos";
    }
    .servicos .conteudo-servicos .card {
        width: calc(33% - 20px);
        background: #222;
        text-align: center;
        border-radius: 6px;
        padding: 20px 25px;
        cursor: pointer;
    }
    .servicos .conteudo-servicos .card i {
        font-size: 50px;
        color: #8f5fb9;
        transition: all 0.3s ease;
    }
    .servicos .conteudo-servicos .card:hover i{
        color: #fff;
    }

    .servicos .conteudo-servicos .box {
        transition: all 0.3s ease;
    }

    .servicos .conteudo-servicos .card:hover {
        background: #8f5fb9;
    }

    .servicos .conteudo-servicos .card:hover .box {
        transform: scale(1.05);
    }

    .servicos .conteudo-servicos .card .texto {
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0 7px 0;
    }

    /* section - Habilidades/Skills Styling */

    .skills .title::after {
        content: "What i Know";
    }

    .skills .conteudo-skills .coluna {
        width: calc(50% - 30px);
    }

    .skills .conteudo-skills .esquerda .texto {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .skills .conteudo-skills .esquerda p {
        text-align: justify;
    }

    .skills .conteudo-skills .esquerda a {
    display: inline-block;
    background: cornflowerblue; /*botão CV*/
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid cornflowerblue;
    transition: all 0.3s ease;
    }

    .skills .conteudo-skills .esquerda a:hover {
    color: cornflowerblue;
    background: none;
    }

    .skills .conteudo-skills .direita .bars {
        margin-bottom: 15px;
    }

    .skills .conteudo-skills .direita .info {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
    }

    .skills .conteudo-skills .direita span {
        font-weight: 500;
        font-size: 18px;
    }
    .skills .conteudo-skills .direita .line {
        height: 5px;
        width: 100%;
        background: lightgrey;
        position: relative;
    }
    .skills .conteudo-skills .direita .line::before {
        content: "";
        position: absolute;
        height: 100%;
        
        left: 0;
        top: 0;
        background: #8f5fb9;
    }
    /*preenchendo cor skills % correta */

    .skills .conteudo-skills .direita .html::before {
        width: 90%;
    }
    .skills .conteudo-skills .direita .css::before {
        width: 60%;
    }
    .skills .conteudo-skills .direita .js::before {
        width: 50%;
    }
    .skills .conteudo-skills .direita .php::before {
        width: 50%;
    }
    .skills .conteudo-skills .direita .mysql::before {
        width: 70%;
    }

    /*Teams section */
    .teams .title::after {
        content: "Who with me";
        background: #111; /*msma cor do fundo banner time*/
    }
    
    .teams .carousel .card {
        background: #222;
        border-radius: 6px;
        padding: 25px 35px;
        text-align: center;
        transition: all 0.3s ease;
    }
    .teams .carousel .card:hover {
        background: #8f5fb9;
    }
    .teams .carousel .card .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    .teams .carousel .card .texto {
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0 7px 0;
    }

    .teams .carousel .card:hover .box{
        transform: scale(1.05);
    }
    .teams .carousel .card img{
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid #8f5fb9;
        transition: all 0.3s ease;
    }

    .teams .carousel .card:hover img {
        border-color: #fff;
    }

    .owl-dots{
        text-align: center;
        margin-top: 20px;
    }

    .owl-dot{
        height: 13px;
        width: 13px;
        margin: 0 5px;
        outline: none!important;
        border-radius: 50%;
        border: 2px solid #8f5fb9!important;
        transition: all 0.3s ease;
    }

    .owl-dot.active {
        width: 35px;
        border-radius: 14px;
    }

    .owl-dot.active,
    .owl-dot:hover {
        background: #8f5fb9!important;

    }

    /*contato seção*/

    .contato .title::after {
        content: "get in touch";
    }
    .contato .conteudo-contato .coluna {
        width: calc(50% - 30px);
    }
    .contato .conteudo-contato .texto {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .contato .conteudo-contato .esquerda p {
        text-align: justify;
    }
    .contato .conteudo-contato .esquerda .icone {
        margin: 10px 0;
    }
    .contato .conteudo-contato .row {
        display: flex;
        height: 65px;
        align-items: center;
    }
    .contato .conteudo-contato .row .info {
        margin-left: 30px;
    }
    .contato .conteudo-contato .row i {
        font-size: 25px;
        color: #8f5fb9;
    } 
    .contato .conteudo-contato .info .head {
        font-weight: 500;
    }
    .contato .conteudo-contato .info .sub-title {
        color: #333;
    }
    
    .contato .direita form .fields {
        display: flex;
    }

    .contato .direita form .field,
    .contato .direita form .fields .field {
        height: 45px;
        width: 100%;
        margin-bottom: 15px;
       
    }
    .contato .direita form .textarea {
        height: 80px;
        width: 100%;
    }
    .contato .direita form .name {
        margin-right: 10px;
    }
    .contato .direita form .email {
        margin-left: 10px;
    }
    .contato .direita form .field input,
    .contato .direita form .textarea textarea {
        height: 100%;
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 6px;
        outline: none;
        padding: 0 15px;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
    }

    .contato .direita form .textarea textarea{
        padding-top: 10px;
        resize: none;
    }
    .contato .direita form .button {
        height: 47px;
        width: 170px;
    }
    .contato .direita form .button button {
        width: 100%;
        height: 100%;
        border: 2px solid #8f5fb9;
        background: #8f5fb9;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .contato .direita form .button button:hover {
        color: #8f5fb9;
        background: none;
    }
    
    /*footer Seção*/
    footer {
        background: #111;
        padding: 20px 23px;
        color: #fff;
    }
    footer span a {
        color: #8f5fb9;
        text-decoration: none;
    }
    footer span a:hover {
        text-decoration: underline;
    }






/*responsive media query*/

@media (max-width:1300px) {
    .inicio .max-width {
        margin-left: 0px;
    }
}

@media (max-width:1104px) {
    .sobre .conteudo-sobre .esquerda img {
        height: 350px;
        width: 350px;
      
    }
}

@media (max-width:991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 941px){
    .max-width {
     padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        background:#8f5fb9;
        transition: all 0.3s ease;
    }
    
    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px
    }
    .inicio .conteudo-inicio .texto-2 {
        font-size: 70px;
    }
    .inicio .conteudo-inicio .texto-3 {
        font-size: 35px;
    }
    .inicio .conteudo-inicio a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .sobre .conteudo-sobre .coluna{
        width: 100%;
    }
    .sobre .conteudo-sobre .esquerda {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .sobre .conteudo-sobre .direita {
        flex: 100%;
    }
    .servicos .conteudo-servicos .card {
        width: calc(50% -10px);
        margin-bottom: 20px;
    }
    .skills .conteudo-skills .coluna,
    .contato .conteudo-contato .coluna{
        width: 100%;
        margin-bottom: 35px;
    }
   
}

@media (max-width:690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .conteudo-inicio .texto-2 {
        font-size: 60px;
    }
    .home .conteudo-inicio .texto-3 {
        font-size: 32px;
    }
    .inicio .conteudo-inicio a{
        font-size: 20px;
       
    }
    .servicos .conteudo-servicos .card {
        width: 100%;  
    }
}

@media (max-width:500px) {
    .home .conteudo-inicio .texto-2 {
        font-size: 50px;
    }
    .home .conteudo-inicio .texto-3 {
        font-size: 27px;
    }
}