@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 30px 0;
    background: #512b72;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #512b72;
}

.navbar.sticky .logo a span {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #512b72;

}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/*menu btn styling*/

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/*Estilizando home section */

.inicio {
    display: flex;
    background: url("img/IMG_0837.PNG") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

.inicio .max-width {
    margin: auto 0 auto 40px;
}

.inicio .conteudo-inicio .texto-1 {
    font-size: 27px;
}


.inicio .conteudo-inicio .texto-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}


.inicio .conteudo-inicio .texto-3 {
    font-size: 40px;
    margin: 5px 0;
}

.inicio .conteudo-inicio .texto-3 span{
    color: #512b72;
    font-weight:500;
}
.inicio .conteudo-inicio a{
    display: inline-block;
    background: cornflowerblue; /*botão contrate me*/
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid cornflowerblue;
}

/*responsive media query*/
@media (max-width:1104px) {
    .inicio .max-width {
        margin-left: 0px;
    }
}
@media (max-width:991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 941px){
    .max-width {
     padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        background:#8f5fb9;
        transition: all 0.3s ease;
    }
    
    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px
    }
    .home .conteudo-inicio .texto-2 {
        font-size: 70px;
    }
    .home .conteudo-inicio .texto-3 {
        font-size: 35px;
    }
}

@media (max-width:690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .conteudo-inicio .texto-2 {
        font-size: 60px;
    }
    .home .conteudo-inicio .texto-3 {
        font-size: 32px;
    }
}

@media (max-width:500px) {
    .home .conteudo-inicio .texto-2 {
        font-size: 50px;
    }
    .home .conteudo-inicio .texto-3 {
        font-size: 27px;
    }
}