@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
}

.navbar.sticky {
    padding: 30px 0;
    background: #512b72;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #916bb3;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #512b72;

}

/*Estilizando home section */

.inicio {
    display: flex;
    background: url("img/IMG_0837.PNG") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubutu", sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

.inicio .max-width {
    margin: auto 0 auto 40px;
}

.inicio .conteudo-inicio .texto-1 {
    font-size: 27px;
}


.inicio .conteudo-inicio .texto-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}


.inicio .conteudo-inicio .texto-3 {
    font-size: 40px;
    margin: 5px 0;
}

.inicio .conteudo-inicio .texto-3 span{
    color: #512b72;
    font-weight:600;
}